/* ============================================================================== */

/* Reset CSS */
*{
    margin: 0px;
    padding: 0px;
}

/* ============================================================================== */

/* Defino fuentes a utilzar */
.font-dojo{
    font-family: 'Kaushan Script', cursive;
}

.font-menu{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
}

/* ============================================================================== */
/* Estilos: body */

body{}

/* ============================================================================== */
/* Estilos: cab */

.cab{
    margin-bottom: 2px;
    background-image: linear-gradient(to right, white 60%, lightcoral);
    font-size: 25px ;
    align-items: center;
}

.cab-it{}

.seishinlogo{
    height: 160px;
    width: 240px;
}

/* ============================================================================== */
/* Estilos: mnu */

.mnu{
    border-radius: 15px;
    background-color: lightcoral;
}

ul{
    margin: 0px auto;
    list-style-type: none;
    align-items: center;
}

li{
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}

.lnk{
    font-weight: bold;
    height: 50px;
    line-height: 50px;
}

/* ============================================================================== */
/* Estilos: bod */

.bod{
    background-image: url('./images/seiken.jpg');
    object-fit: cover;
} 

.bod-cnt{
}

.bod-tit{
    background-color: crimson;
    color: white;
    border-radius: 10px;
    align-items: center;
}

.bod-img{
}

/* ============================================================================== */
/* Estilos: pie */

.pie row{
    background-color: lightpink;
}
